* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
    -webkit-overflow-scrolling: touch;
}

html {
    display: block;
}

html,
body,
#root {
    height: 100%;
}

a {
    text-decoration: none;
}

ul li {
    list-style: none;
}

a, button, input, div {
    -webkit-tap-highlight-color: rgba(255, 0, 0, 0);
    -webkit-appearance: none;//去除默认样式
}

/**--------table-------*/
/**使用<thead>, <tbody>和<tfoot> 将表格分割成逻辑块*/

table{
  table-layout: fixed; //可以根据列标题的宽度来规定列的宽度
  border-collapse: collapse;//让边框合为一条
  width: 100%;
  border: 1px solid #999;
}


thead th:nth-child(1) {
  width: 30%;
}

thead th:nth-child(2) {
  width: 20%;
}

thead th:nth-child(3) {
  width: 15%;
}

thead th:nth-child(4) {
  width: 35%;
}
table th,table td{
  text-align: center;
  vertical-align: middle;
}
th, td {
  padding: 20px;
}

input::-webkit-input-placeholder {
    color: #BFC0BF;
    font-weight: 500;
}

textarea::-webkit-input-placeholder {
    color: #BFC0BF;
    font-weight: 400;
}

input::-moz-input-placeholder {
    color: #BFC0BF;
    font-weight: 400;
}

textarea::-moz-input-placeholder {
    color: #BFC0BF;
    font-weight: 400;
}

input::-o-input-placeholder {
    color: #BFC0BF;
    font-weight: 400;
}

textarea::-o-input-placeholder {
    color: #BFC0BF;
    font-weight: 400;
}

/*************icon背景图**************/
.icon-background {
    background: url('/images/icon/iconography.png')no-repeat;
    background-size: 600px 700px;
}

body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
}

.container .left {
    width: 134px;
    flex: none;
    height: 100%;
}

.container .right {
    flex: none;
    width: calc(100% - 134px);
    height: 100%;
}

.header {
    height: 50px;
    border-bottom: 1px solid #F3F3F3;
}

.content {
    height: calc(100% - 51px);
    width: 100%;
    overflow: auto;
    font-family: PingFangSC;
    background: #f3f3f3;
  position: relative;
}
.wrapper-container{
    min-width: 1080px;
    height: 100%;
    padding: 30px;
    box-sizing: border-box;
}

$gray-bg: #f0f1f3;

@mixin boxShadow($z,$y,$r,$color){
 box-shadow: $z,$y,$r,$color;

  //第一个长度值是水平偏移量（horizontal offset ）——即向右的距离，阴影被从原始的框中偏移(如果值为负的话则为左)。
  //第二个长度值是垂直偏移量（vertical offset）——即阴影从原始盒子中向下偏移的距离(或向上，如果值为负)。
  //第三个长度的值是模糊半径（blur radius）——在阴影中应用的模糊度。
  //颜色值是阴影的基本颜色（base color）。

}

.boxShadow{
  box-shadow: 1px 1px 1px black,
  inset 2px 3px 5px rgba(0,0,0,0.3),
  inset -2px -3px 5px rgba(255,255,255,0.5);
}

//下降的阴影
.filter{
  -webkit-filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.7));
  filter:drop-shadow(5px 5px 5px rgba(0,0,0,0.7));

}

@mixin fontSize($f, $w) {
  font-family: "PingFang SC";
  font-size: $f+px;
  font-weight: $w;
}

@mixin widthHight($w, $h) {
  width: $w+px;
  height: $h+px;
}

